body{
    background-color: #2D2D2D;
    font-size: 50px;
}

body h1{
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 33%;
    top: -70px;
}


section h1{
    color:white;
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    position: absolute;
    left: 38%;
    top: 250px;
}

div p{
    color:white;
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
    align-items: center;
    display: flex;
    position: absolute;
    left: 810px;
    top: 350px;
}

div img{
    display: flex;
    position: absolute;
    left: 40%;
    top: 370px;

}

div p#vue{
    display: flex;
    position: absolute;
    left: 810px;
    top: 390px;
}

div p#like{
    display: flex;
    position: absolute;
    left: 810px;
    top: 430px;
}
