body{
    background-color: #2D2D2D;
    font-size: 50px;
}

body h1{
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

section h1{
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

div p{
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
    align-items: center;
    display: flex;
    position: absolute;
    left: 810px;
    top: 480px;
}

div img{
    display: flex;
    position: absolute;
    left: 40%;

}
