body{
    background-color: #2D2D2D;
    font-size: 50px;
}

h1{
    color: white;
    font-family: 'Bebas Neue', cursive;
    display: flex;
    align-items: center;
    justify-content: center;
}